# These are ignored anyways by default (any dot-files and dot-folders are implicitly ignored as well as node_modules), but to be explicit
.next/
node_modules/ 

# Project folders
docs/
public/
styles/

# Config JS files
jest.*.js
next.*.js

# Files
*.json